<div class="content">
  <div
    class="drop-zone"
    (dragover)="onDragOver($event)"
    (dragenter)="toggleHighlight()"
    (dragleave)="toggleHighlight()"
    (drop)="onDrop($event)"
    [ngClass]="{ highlighted: isHighlighted }"
  >
    <img src="assets/images/trash.png" alt="Trash" />
    <p>Drag images here to delete</p>

    <div
      class="drop-animation"
      *ngIf="dropPosition"
      [ngStyle]="{
        top: dropPosition.y,
        left: dropPosition.x
      }"
    ></div>
  </div>
  <div class="photo-grid">
    <img
      *ngFor="let image of images"
      [src]="image"
      (dragstart)="onDragStart($event, image)"
      class="photo"
    />
  </div>
</div>
